// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$main-grey-color: #e9ecf3;
$dark-grey-color: #3c4042;
$main-purple-color: #6200ee;
$dark-purple-color: #bb86fc;
$main-text-color: #4a4a4a;
$dark-text-color: #ffffff;
