@import "./utils/mixin";
@import "./utils/variables";

.container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s linear;
}

@include mobile {
  .container {
    width: 90%;
  }
  .container__project {
    flex-direction: column;
    align-items: start !important;
    padding: 20px 0px !important;
  }
  .container__project-title,
  .container__project-content {
    width: 100% !important;
  }
}

@include tablet {
  .container {
    width: 60%;
  }
}

@include desktop {
  .container {
    width: 80%;
  }
}

.container__title {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 2px solid #4a4a4a;
}

.container__title-s {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.container__subtitle {
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
}

.container__subtitle-s {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.6;
}

.container__project {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #4a4a4a;
}

.container__project-title,
.container__project-content {
  line-height: 1.4;
}

.container__project-title {
  width: 40%;
}

.container__project-title a {
  padding-left: 10px;
}

.container__project-content {
  padding-left: 10px;
  width: 60%;
}

.container__project-desc li:before {
  content: "- ";
}

.container__project-stack {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.dark-mode .container__project-stack li {
  background-color:#{$dark-grey-color};
}

.container__project-stack li {
  padding: 3px 7px;
  border-radius: 5px;
  margin: 3px 3px 3px 0px;
  background-color: #{$main-grey-color};
}
