@import "./utils/mixin";
@import "./utils/variables";

.section {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s linear;

  @include mobile {
    width: 90%;
  }

  @include tablet {
    width: 60%;
  }

  @include desktop {
    width: 70%;
  }

  &__title {
    @include title-text;
    padding-bottom: 10px;
    border-bottom: 2px solid #4a4a4a;
  }

  &__title-s {
    @include subtitle-text;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &__subtitle {
    @include subtitle-text;
    padding: 10px 0px;
    display: inline-block;
  }

  &__subtitle-s {
    @include subsubtitle-text;
    display: block;
    padding-bottom: 10px;
    opacity: 0.6;
  }
}

.certificate-content {
  padding: 20px 10px;
  border-bottom: 1px dashed #4a4a4a;
}

.section__project {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #4a4a4a;

  header,
  &-content {
    line-height: 1.4;
  }

  @include mobile {
    flex-direction: column;
    align-items: start !important;
    padding: 20px 0px !important;

    header,
    &-content {
      width: 100% !important;
    }
  }

  header {
    width: 40%;
  }

  a {
    padding-left: 10px;
  }

  svg {
    height: 18px;
    width: 18px;
  }

  &-content {
    padding-left: 10px;
    width: 60%;
  }

  &-desc li:before {
    content: "- ";
  }

  &-stack {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;

    li {
      padding: 3px 7px;
      border-radius: 5px;
      margin: 3px 3px 3px 0px;
      background-color: #{$main-grey-color};
    }

    @at-root .dark-mode .section__project-stack li {
      background-color:#{$dark-grey-color};
    }
  }
}
